
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8b4c7;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2d2d2d;
    margin: 20px 0;
    text-align: center;
}

.block {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #8dc1e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
    text-align: center;
}

button {
    color: rgb(48, 189, 79);
    background-color: rgb(245, 235, 33);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    background-color: rgb(230, 220, 30);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

li {
    display: inline;
}

h4 {
    color: #333;
    max-width: 800px;
    text-align: center;
    line-height: 1.6;
    margin: 20px 0;
}
